<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="delivery_robot">
    <xacro:include filename="$(find delivery_robot_description)/models/delivery_robot/base.urdf.xacro" />
    <!-- sensors -->
    <xacro:include filename="$(find delivery_robot_description)/models/delivery_robot/sensor/camera.urdf.xacro" />
    <xacro:include filename="$(find delivery_robot_description)/models/delivery_robot/sensor/imu.urdf.xacro" />
    <xacro:include filename="$(find delivery_robot_description)/models/delivery_robot/sensor/laser.urdf.xacro" />
    <!-- actuators -->
    <xacro:include filename="$(find delivery_robot_description)/models/delivery_robot/actuator/wheel.urdf.xacro" />
    <xacro:include filename="$(find delivery_robot_description)/models/delivery_robot/actuator/caster.urdf.xacro" />
    <!-- plugins -->
    <xacro:include filename="$(find delivery_robot_description)/models/delivery_robot/plugin/gz_control_plugin.xacro" />
    <xacro:include filename="$(find delivery_robot_description)/models/delivery_robot/plugin/gz_sensor_plugin.xacro" />

    <xacro:base_xacro length="0.30" radius="0.35" />

    <xacro:imu_xacro xyz="0.0 0.0 0.18"/>
    <xacro:laser_xacro xyz="0.0 0.0 0.28"/>
    <xacro:rgbd_camera_xacro xyz="0.36 0.0 0.15"/>

    <xacro:wheel_xacro wheel_name="left_wheel" xyz="0 0.36 -0.12" />
    <xacro:wheel_xacro wheel_name="right_wheel" xyz="0 -0.36 -0.12" />
    <xacro:caster_xacro caster_name="front_wheel" xyz="0.25 0 -0.19" />
    <xacro:caster_xacro caster_name="back_wheel" xyz="-0.25 0 -0.19" />

    <xacro:gz_control_plugin />
    <xacro:gz_sensor_plugin />
</robot>
